<h1 class="text-center my-4"><%= link_to 'Videos', videos_path %></h1>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar for Playlists -->
    <div class="col-md-3">
      <h3>Playlists</h3>
      <ul class="list-group">
        <li class="list-group-item <%= 'active' if params[:playlist_id].blank? %>">
          <%= link_to 'All Videos', videos_path %>
        </li>
        <% @playlists.each do |playlist| %>
          <li class="list-group-item <%= 'active' if params[:playlist_id].to_i == playlist.id %>">
            <%= link_to playlist.name, videos_path(playlist_id: playlist.id) %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Videos -->
    <div class="col-md-9">
      <%= form_with url: videos_path, method: :get, local: true, class: 'mb-4' do %>
        <div class="input-group">
          <%= text_field_tag :title, params[:title], class: 'form-control', placeholder: 'Search by title' %>
          <div class="input-group-append">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <% @videos.each do |video| %>
          <%= render partial: 'video', locals: { video: video } %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Pagination -->
    <%= render partial: 'pagination', locals: { page: @page, total_pages: @total_pages, title: params[:title], playlist_id: params[:playlist_id] } %>
</div>
